.logo {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 262.66px;
    height: 83.92px;
  }
  
  .alert {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
  }
  
  form {
    position: relative;
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    padding-top: 250px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .label {
    display: block;
    font-family: "Arimo", sans-serif;
    font-weight: 700;
    color: #662277;
    margin-bottom: 5px;
  }
  
  .input {
    width: 100%;
    height: 50px;
    background: #f4ecec;
    border-radius: 7px;
    border: none;
    padding: 10px;
  }
  
  .signup-text {
    font-family: "Arimo", sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    color: #662277;
    text-align: center;
    margin-top: 20px;
  }
  
  .signin-button {
    width: 100%;
    height: 50px;
    font-family: "Arimo", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #f4ecec;
    border: none;
    background-color: #a72c63;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .signin-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  @media (max-width: 768px) {
    .logo {
      width: 150px;
      height: 48px;
      top: 200px;
    }
  
    .input {
      height: 40px;
    }
  
    .signup-text {
      font-size: 16px;
      line-height: 20px;
      margin-top: 30px;
    }
  }
  